.sportHtml{
    min-height: 100vh;
    min-width: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.7)),url("../img/skiing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.sportBody{
    flex: 1;
    background: none;
    min-height: 100vh;
    position: relative;
}
.layout-wrapper{
    display: flex;
    flex-direction: column;
}
.layout-sport{
    flex: 1;
}

.searchBoxContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sportSearchBox{
    font-size: 30px;
    text-align: center;
    cursor: auto;
    background-color: rgba(100,100,100,.6);
    color: white;
    border: none;
    border-radius: 10px;
    margin: auto;
    width: 600px;
    height: 50px;
    box-shadow: 2px 3px 3px rgba(26, 23, 23, 0.7);
}
.sportSearchBtn{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin: auto;
    transform: translate(280px, -56px);
    scale: 90%;
    border: none;
}



.eventItemContainer{
    display: flex;
    flex-direction: column;
    border: 3px solid #f6f6f6;
    background-color: rgba(4,9,30,0.7);
    padding: 20px;
    margin: auto;
    color: #f6f6f6;
    font-weight: bolder;
    width: 80%;
}


.eventItem-date{
    width: 200px;
    margin: 10px;
    border: #8ee3ef;
    font-family: 'Panchang', sans-serif;
    text-align: start;
    -webkit-text-stroke-width: 0;
    font-size: 25px;
}
.eventItem-button{
    background: none;
    font-family: 'Panchang', sans-serif;
    margin: 5px;
    padding: 20px;
    text-align: right;
    font-size: 25px;
    color: #f6f6f6;;
    border-color: #f6f6f6;
    max-width: 500px;
    flex-grow: 1;
}

.event-li-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Panchang', sans-serif;
    list-style-type: none;
    border: 3px solid seashell;
    gap: 5px;

}

.eventItem-event{
    color: #f6f6f6;
    background: none;
    border: none;
    font-family: 'Panchang', sans-serif;

}
.eventItem-button:hover{
    background-color: rgba(4, 9, 30, 0.77);
    width: border-box;
}

.sportH1{
    color: white;
    text-align: center;
    margin: auto;
    padding: 50px 0 50px 0;
}

.sportMain{

    background: none;
}

.topHeader{
    padding: 30px;
}
.resultDiv{
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 0 100px 0;
    background: none;
    /*background-color: rgba(64,224,208,0.1);*/
}



 .bottomnav{
     text-align: center;
     padding-top: 20px;
     position: absolute;
     width: 100%;
     height: 50px;
     //flex: 0 0 auto;
     bottom: 0;
     margin: auto;
}

.eventContainer{
    background: salmon;
    max-width: 40px;
    max-height: 40px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 10px 60px;
    background: chocolate;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup{
    width: 700px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -350px;
    background: slateblue;
    text-align: center;
    color: black;
    visibility: hidden;
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 60%;
    margin-top: 50px;
    padding: 10px 0;
    background: navy;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.open-popup{
    visibility: visible;
    z-index: auto;
}