/* Add a black background color to the top navigation */
*{
    border-style: solid;
}
.topnav {
    position: relative;
    background-color: #8ee3ef;
    overflow: hidden;
    width: 95%;
    margin: auto;

}
.bottomnav{
    position: relative;
    background-color: #8ee3ef;
    overflow: hidden;
    color: #254e70;
    text-align: center;
    font-size: 20px;
    height: 40px;
    width: 95%;
    margin: auto;
}
body{
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}
html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.container {
    width: 95%;
    margin: auto;
    position: relative;

}
main{
    background-color: #fff;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h1{
    font-size: 300%;
}
.searchBox{
    display: flex;
    margin-left: 50px;
    margin-right: auto;
    max-width: 100%;

}
.resultbox{
    display: inline-block;
    margin-left: 50px;
    margin-right: auto;
    background-color: antiquewhite;
    height: 400px;
    width: 400px;
    overflow-y: scroll;
}

.map{
    display: inline-block;
    display: flex;
    margin: auto;
    padding-bottom: 20px;
    position: relative;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #254e70;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #4999ea;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #377e8e;
    color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

/* Culture.html Styles */
#cultureSearchalue{
    display: flex;
    margin-right: 40%;
    float: left;
}
/*Search bar ja Nappi millä tehdään haku*/
#hakunappi,#Searchalue{
    margin-left: 2.5%;
}
/*Search bar*/
#hakuteksti{
    height: 35px;
    width: 200px;
    float: left;
}
 /*Pääinfo aka (aukioloajat ja intro descriptions*/
#cultureInfo{
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
}
/*Kultuuri paikkojen Main laatikko listalle (div)*/
#teatterilista{
    display: inline-block;
    margin-left: 50%;
    height: 60%;
    overflow: hidden;
}
/*Main element Kultuuri*/
#cultureMain{
    display: block;
}

/*UL lista elementti #teatterilistan sisällä*/
#Mainlistele{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 250px;
}
/*Kaikki kultuuri LI elementit jotka JS tulostaa.*/
#liculture{
    display:inline-block;
}
/*---------------------*/